{% load static %}
{% load i18n %}

<html>
    <head>
        <meta charset="utf-8">
        <title>Koohnavard</title>
        <link rel="stylesheet" href="{% static 'dadashi/bootstrap/bootstrap.min.css' %}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="{% static 'dadashi/bootstrap/jquery-3.2.1.slim.min.js' %}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="{% static 'dadashi/bootstrap/popper.min.js' %}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="{% static 'dadashi/bootstrap/bootstrap.min.js' %}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{% static 'dadashi/bootstrap/bootstrap-rtl.min.css' %}">

        <link rel="stylesheet" href="{% static 'dadashi/css/style.css' %}">
    </head>

    <body onload="main()">
        <div class="row fill-h">
            <div class="col-sm-2 bg-dark text-white" align="center">
                {% block menu %}
                {% endblock %}
            </div>
            <div id="notif-box" class="col-sm-3">
            </div>
            <div class="col-sm-10" id="content">
                <nav aria-label="breadcrumb" style="width: 99%">
                    <ol class="breadcrumb">
                        {% block title %}
                        {% endblock %}
                    </ol>
                </nav>
                <br />
                <div class="row">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
